.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--tertiary-color);
  height: 4vh;
  min-height: 60px;
}

.header-l {
  display: flex;
  margin-left: 0.5rem;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding-left: 0.5rem;
}

.header-l a {
  text-align: center;
  text-decoration: unset;
  color: var(--tertiary-color);
}

.header-l button {
  color: var(--tertiary-color);
  transform: scale(2);
}

.header-l button:hover {
  transform: scale(2.2);
}

.header-r #profile {
  height: 50px;
  width: 50px;
}
